<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription
NSLocationWhenInUseUsageDescription
NSLocationWhenInUseUsageDescription
NSLocationWhenInUseUsageDescription
</key>
	<string>This app requires access to Wi-Fi information to monitor your network status.
</string>
</dict>
</plist>
